{% extends 'layout/base.html' %}

{% block title %}Buenos Casas{% endblock %}

{% block content %}

  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <mapgeojson mapname='baires'></mapbaires>
      </div>
    </div>
  </section>

  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
      </div>
    </div>
  </section>

  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <mapgeojson mapname='baires-communes'></mapbaires>
      </div>
    </div>
  </section>

  <section class="hero is-warning is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div v-if="result">
          <!-- Only runs if this class is present -->
          <div class="communes">
            <div class="columns is-desktop">
              <div class="column" v-for="commune in result">
                <div class="card">
                  <div class="card-content">
                    <strong>[[ commune.commune ]]</strong>
                    <div v-if="barrios">
                      <li v-for="b_id in commune.barrios">
                        <div v-if="b_id">
                          <p>[[barrios[b_id].name]]</p>
                        </div>
                      </li>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <h3 class="title">Oh.. I don't found any objects on Database!</h3>
          <p>Please run <code>$ python install.py</code> from project dir.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-warning is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <!-- Dropdown menu -->
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Dropdown button</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a v-on:click="getCommuneCensus(1)" class="dropdown-item is-active">
                Dropdown item
              </a>
              <a v-on:click="getCommuneCensus(2)" class="dropdown-item">
                  Other dropdown item
              </a>
              <a v-on:click="getCommuneCensus(3)" class="dropdown-item">
                  Active dropdown item
              </a>
              <a v-on:click="getCommuneCensus(4)" class="dropdown-item">
                  Other dropdown item
              </a>
              <a v-on:click="getCommuneCensus(5)" class="dropdown-item">
                  With a divider
              </a>
            </div>
          </div>
        </div>
        <!-- Data show -->
        <div v-if="census">
          <!-- Only runs if this class is present -->
          <div class="communasData">
            <div class="columns is-desktop">
              <div class="column" v-for="point in census">
                <div class="card">
                  <div class="card-content">
                    <h3>[[ point.comp_percent ]]</h3>
                    <strong>[[ point.comp_quantile ]]</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <h3 class="title">Oh.. I don't found any objects on Database!</h3>
          <p>Please run <code>$ python install.py</code> from project dir.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
