{% extends 'layout/base.html' %}


{% block title %}Buenos Casas{% endblock %}


{% block content %}

  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <!-- Page Title -->
        <p class="title is-1">Buenos Aires</p>
        <!-- Map container -->
        <div class="buttons has-addons is-centered">
                  <span class="button" v-on:click="getBarriosVal('/api/rent/all/us_avg')" @click="st='rat'" :class="[ st === 'rat' ? 'is-active panel-block' : 'panel-block']">
                    Rent All Time
                  </span>
                  <span class="button"  v-on:click="getBarriosVal('/api/property/us_val/avg/')" @click="st='pv'" :class="[ st === 'pv' ? 'is-active panel-block' : 'panel-block']">
                    Property Value
                  </span>
                  <span class="button"  v-on:click="getBarriosVal('/api/sports/all')" @click="st='sf'" :class="[ st === 'sf' ? 'is-active panel-block' : 'panel-block']">
                    Sports Facilities
                  </span>
                  <span class="button"  v-on:click="getBarriosVal('/api/health/hospital/count')" @click="st='hos'" :class="[ st === 'hos' ? 'is-active panel-block' : 'panel-block']">
                    Hospitals
                  </span>
                  <span class="button"  v-on:click="getBarriosVal('/api/humanity/elderly_care/count')" @click="st='ecc'" :class="[ st === 'ecc' ? 'is-active panel-block' : 'panel-block']">
                    Elder Care Center
                  </span>
          </div>
          <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical is-8">
              <div class="tile is-child">
                    <mapgeojson mapname='baires-communes'
                    v-bind:barrios_val="barrios_val"
                    v-bind:heatmap_val="heatmap_val"
                    :lat="-34.6"
                    :lon="-58.45"
                    :dims="{'x':800,'y':500}">
                </mapgeojson>
              </div>
              <div class="tile is-child">
                  <!-- Barrio Name -->
                <div v-if="province">
                    <p id="#barrio_name" class="subtitle is-3">[[ province.name ]]</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
              </div>
            </div>
     
           

          <div class="tile">
              <div class="tile is-child">
                <div class="column">
                <d3-circle
                  :data="barriocensus['own']"
                  :options="{'precision': '0', 'labelFontSize': '30', 'circleForeground': '#3B6D8C'}"
                  :margin="{top: 10, right: 10, bottom: 10, left: 10}"
                  height="150px"
                  width="100%">
                </d3-circle>
                <p class="subtitle is-5 is-family-sans-serif">Percent<br>Owned</p>
              </div>
            
            <div class="tile is-child">
              <div class="column">
                <d3-circle
                  :data="barriocensus['rent']"
                  :options="{'precision': '0', 'labelFontSize': '30', 'circleForeground': '#F2B705'}"
                  :margin="{top: 10, right: 10, bottom: 10, left: 10}"
                  height="150px"
                  width="100%">
                </d3-circle>
                <p class="subtitle is-5 is-family-sans-serif">Percent<br>Rented</p>
              </div>
            </div>

            <div class="tile is-child">
              <div class="column">
                <d3-circle
                  :data="barriocensus['uinhab']"
                  :options="{'precision': '0', 'labelFontSize': '30','circleForeground': '#A67244'}"
                  :margin="{top: 10, right: 10, bottom: 10, left: 10}"
                  height="150px"
                  width="100%">
                </d3-circle>
                <p class="subtitle is-5 is-family-sans-serif">Percent<br>Uninhabited</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
  </section>

 

  <!-- Tabular navigation -->
  <div class="container">
  <div class="tabs is-boxed">
    <ul>
      <li :class="[ vw === 'overview' ? 'is-active' : '']">
        <a @click="vw='overview'">
          <span>Overview</span>

        </a>
      </li>
      <li :class="[ vw === 'analysis' ? 'is-active' : '']">
        <a @click="vw='analysis'">
          <span>Analysis</span>
        </a>
      </li>
      <li :class="[ vw === 'survey' ? 'is-active' : '']">
        <a @click="vw='survey'">
          <span>Survey</span>
        </a>
      </li>
    </ul>
  </div>

  <div v-if="vw === 'overview'">
    <section class="hero is-light is-small is-bold">
        <div v-if="housing_summary" class="container">
        <div class="tile is-ancestor">
          <div class="tile is-8 ">
                <p class="title is-3 is-spaced">Housing</p>      
              <div class="card-content">
                  <p class="subtitle is-4">Monthly Trends</p>
                  <div class="buttons .has-addons">
                      <a v-on:click="getMonthly('purchase')" @click="h_kind='purchase'" :class="[ h_kind == 'purchase' ? 'button is-selected' : 'button']">
                        Purchase
                      </a>
                      <a v-on:click="getMonthly('rent')" @click="h_kind='rent'" :class="[ h_kind == 'rent' ? 'button is-selected' : 'button']">
                        Rent
                      </a> 
                  </div>
                  <d3-multi-line
                  :data="month_sell"
                  width="100%"
                  height="300px">
                </d3-multi-line>
                </div>
          </div>
          <div class="tile is-4 is-parent is-vertical">
              <p class="subtitle is-5">Summary Statistics</p>
              <div class="is-child">
                <p class="is-family-sans-serif">Maximum Price </p>
                <d3-metric :data='housing_summary["max"]'
                width="50%"
                height="150px" ></d3-metric>
              </div>
              <div class="tile is-child">
                  <p class="is-family-sans-serif">Standard Deviation in Price: </p>
                  <d3-metric :data='housing_summary["std"]'
                  width="70%"
                  height="150px"></d3-metric>
              </div>

              <div class="tile is-child"></div>
                  <p class="is-family-sans-serif">Average Price </p> 
                  <d3-metric :data = 'housing_summary["avg"]'
                  width="80%"
                  height="150px"></d3-metric> 
              </div>
            </div>
          </div>
        </div>
    </section>


    <section class="hero is-light is-small is-bold">
      <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-3">
                <p class="title is-3">Cultural Landmarks</p>
              </div>
              <div class="tile is-3">
                <p class="title is-3">Health Providers</p>
              </div>
              <div class="tile is-3">
                <p class="title is-3">Humanity</p>
              </div>
              <div class="tile is-3">
                <p class="title is-3">Sports Amenities</p>
              </div>
        </div>
    </section>

  </div>

  <div v-if="vw === 'analysis'">
    <section class="hero is-light is-medium is-bold has-text-centered">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              First Circle
              <d3-circle
                :data="0.5"
                width="100%">
              </d3-circle>
            </div>
            <div class="column">
                First Circle
                <d3-circle
                  :data="0.5"
                  width="100%">
                </d3-circle>
            </div>
            <div class="column">
                First Circle
                <d3-circle
                  :data="0.5"
                  width="100%">
                </d3-circle>
            </div>
          </div>

          <d3-horizontal-bar
            :data="importance_val"
            :options="{'axisXLabel': 'Mutual Information Gain'}"
            width="100%"
            height="500px">
          </d3-horizontal-bar>
        </div>
      </div>
    </section>
  </div>

  <div v-if="vw === 'survey'">
    <section class="hero is-light is-medium is-bold has-text-centered">
        <div class="hero-body">
          <div class="container">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJzOdZIZUp9wV_Ly7210NDPN3yvIo2sqOf30iTsGKtloq75Q/viewform?embedded=true" width="640" height="398" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
        </div>
    </section>
  </div>
</div>

{% endblock %}


