{% extends 'layout/base.html' %}

{% block title %}Buenos Casas{% endblock %}

{% block content %}

  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <mapgeojson mapname='baires'></mapbaires>
      </div>
    </div>
  </section>

  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
      </div>
    </div>
  </section>

  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <mapgeojson mapname='baires-communes'></mapbaires>
      </div>
    </div>
  </section>

  <section class="hero is-warning is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div v-if="result">
          <h3 class="title">Hints from SQLite Database (Vue.js + Axios)</h3>
          <div class="communes">
            <div class="columns is-desktop">
              <div class="column" v-for="commune in result.data">
                <div class="card">
                  <div class="card-content">
                    <h3>[[ commune._id ]]</h3>
                    <strong>[[ commune.commune ]]</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <h3 class="title">Oh.. I don't found any objects on Database!</h3>
          <p>Please run <code>$ python install.py</code> from project dir.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
